{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - Mentor Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'ecole/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'ecole/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'ecole/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'ecole/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'ecole/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'ecole/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'ecole/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'ecole/assets/css/main.css' %}" rel="stylesheet">
  <link href="{% static 'ecole/assets/css/all.min.css' %}" rel="stylesheet">


</head>

<body class="index-page" style="background-color: #e7edf9;">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
        
        <!-- Logo -->
        <a href="{% url 'ecole:home' %}" class="logo d-flex align-items-center me-auto fs-1" style="font-family:cursive;">
            C-J-P
        </a>

        <!-- Navigation -->
        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="{% url 'ecole:home' %}" class="active">Accueil</a></li>
                <li><a href="{% url 'ecole:about' %}">À propos</a></li>
                <li><a href="courses.html">Courses</a></li>
                <li><a href="trainers.html">Trainers</a></li>
                <li><a href="events.html">Events</a></li>
                <li><a href="pricing.html">Pricing</a></li>
                <li class="dropdown">
                    <a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a href="#">Dropdown 1</a></li>
                        <li class="dropdown">
                            <a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">Deep Dropdown 1</a></li>
                                <li><a href="#">Deep Dropdown 2</a></li>
                                <li><a href="#">Deep Dropdown 3</a></li>
                                <li><a href="#">Deep Dropdown 4</a></li>
                                <li><a href="#">Deep Dropdown 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Dropdown 2</a></li>
                        <li><a href="#">Dropdown 3</a></li>
                        <li><a href="#">Dropdown 4</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'ecole:contact' %}">Contact</a></li>

                <!-- Profile Utilisateur -->
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="d-flex align-items-center">
                        <img src="{% static 'ecole/assets/img/utill.png' %}" alt="Profile" class="rounded-circle img-thumbnail" style="width: 40px; height: 40px; object-fit: cover; margin-right: 8px;">
                        <span>{{ user.eleves.prenom|upper }}</span> <i class="bi bi-chevron-down toggle-dropdown"></i>
                    </a>
                    <ul>
                        {% if user.eleves %}
                        <li><a href="{% url 'ecole:eleve' %}" class=""> <i class="fas fa-chalkboard-teacher">  {{ user.eleves.prenom }}</i></a></li>
                        {% elif user.profs %}
                        <li><a href="{% url 'ecole:prof' %}">Espace Professeur</a></li>
                        {% elif user.tuteurs %}
                        <li><a href="{% url 'ecole:parent' %}">Espace Parent</a></li>
                        {% endif %}
                        <li><a href="{% url 'accounts:logout' %}">Déconnexion</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a class="btn-getstarted" href="{% url 'accounts:register' %}">Get Started</a></li>
                {% endif %}
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav><!-- End Navigation -->
        
    </div>
</header>
