{% include "ecole/header.html" %}


<div class="container mt-5 col-md-6 mx-auto my-4">
    <h2 class="mb-4 text text-center">Changement de mot de passe</h2>
    <form id="clientForm" method="post" action="">
        {% csrf_token %}
        <div class="mb-3">
            <label for="clientEmail" class="form-label">Votre ancien mot de passe</label>
            <input name="ancien"  type="password"  class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="clientEmail" class="form-label">votre nouveau mot de passe</label>
            <input name="new1"  type="password"  class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="clientEmail" class="form-label">Confirmer votre mot de passe</label>
            <input name="new2"  type="password"  class="form-control" required>
        </div>
        
        <button type="submit" class="btn btn-primary col-md-12">Valider</button>
    </form>
</div>




{% include "ecole/footer.html" %}