{% load static %}
<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}" />
{% include "ecole/header.html" %}

<section id="contact" class="contact section mt-5">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">
      <div class="col-lg-6">
        <section id="hero" class="hero section dark-background h-100">
          <div class="image-container" style="height: 100%;">
            <img src="{% static 'ecole/assets/img/hero-bg.jpg' %}" alt="" 
                 style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px;" data-aos="fade-in">
          </div>
        </section>
        <!-- /Hero Section -->
      </div>

      <div class="col-lg-6 container">
        <div class="form shadow p-4 rounded">
          <h3 class="text-center mb-4">Nouveau mot de passe</h3>
          
          {% if messages %}
          <div class="error-message show mb-3">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </div>
          {% endif %}
          
          <form method="post" class="login">
            {% csrf_token %}
            <div class="mx-4 row">
              <p class="text-center mb-3">Veuillez entrer votre nouveau mot de passe</p>
              
              <div class="mb-3 input-group">
                {{ form.new_password1 }}
                <div class="validation-feedback">Veuillez entrer un mot de passe valide</div>
              </div>
              
              <div class="mb-3 input-group">
                {{ form.new_password2 }}
                <div class="validation-feedback">Veuillez confirmer votre mot de passe</div>
              </div>
            </div>
            
            <button type="submit" class="btn btn-primary w-100 mt-3">
              <span class="bi bi-check-circle me-2"></span>
              Changer le mot de passe
            </button>
          </form>
        </div>
      </div>
      <!-- End Contact Form -->
    </div>
  </div>
</section>
<!-- /Contact Section -->

{% include "ecole/footer.html" %}