
<style>
 
    ul{
     list-style: none;
    }
    
    li{
     display: none;
    }
  
    .col-6 input{
  
     color: black;
     font-size: 16px;
     padding: 7px;
     width: 100%;
     border-radius: 5px;
     
   }
  
   input:focus{
       outline: none;
   }
   h3{
     text-align: center;
   }
  </style>

<div class="col-6 m-auto">
    <h2 class="text-center">Reinitialiser votre mot de passe </h2>
    <form method="post" class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Changer le mot de passe</button>
    </form>
</div>